* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

.main-navigation {
  background: #1c1d25;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  margin: 0;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
  margin: 0;
}

.navbar__logo {
  background-color: white;
  background-image: linear-gradient(to top, cyan 1%, aquamarine 5%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  position: absolute;
  top: 0;
  left: 400px;
  z-index: 1;
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
  display: flex;
  background-color: #1c1d25;
}

.navbar__image {
  position: absolute;
  top: 6px;
  left: 350;
  z-index: 1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}


.navbar__links {
  color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__links:hover {
  color: turquoise;
  transition: all 0.3s ease;
}

@media screen and (max-width: 764px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: #1c1d25;
  }

  .navbar__menu.active {
    background: #1c1d25;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;

  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5% 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

h1 {
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
}

h3 {
  text-decoration: none;
  text-align: center;
}

h6 {
  text-decoration: none;
  text-align: center;
}

a {
  text-decoration: none;
  text-align: center;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.experiments-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.footer {
  width: 100%;
  background: #1c1d25;
  padding: 8% 0;
  margin: 0;
}

.footer,
.footer a {
  color: #f3f3f3;
}

.footer-logo {
  display: block;
  position: relative;
  width: 70px;
  margin: 0 auto 12px;
}

.footer-logo img,
.footer-logo svg {
  width: 70px;
  height: 70px;
  opacity: 0.8;
}

.footer-logo span {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.footer-logo .footer-logo-top-label {
  position: absolute;
  top: 30px;
  right: 0;
  font-size: 0.875em;
  font-family: League Spartan, Helvetica, Arial, sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(40px);
  transform: translateX(40px);
  transition: all 0.3s ease;
}

.footer-logo .footer-logo-top-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 4px;
}

.footer-logo .footer-logo-top-icon svg {
  width: 20px;
  height: 20px;
  color: #235aa6;
}

.footer-logo:hover .footer-logo-top-label {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(60px);
  transform: translateX(60px);
}

.footer-links {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer-links li {
  display: inline-block;
  margin-right: 60px;
}

.footer-links li:last-child {
  margin-right: 0;
}

.footer-links a {
  display: block;
  padding: 15px 0;
  font-family: League Spartan, Helvetica, Arial, sans-serif;
  position: relative;
  color: #f3f3f3;
  transition: color 0.3s ease;
}

.footer-links a:before {
  background-color: #235aa6;
  transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
}

.footer-links a:after,
.footer-links a:before {
  content: "";
  position: absolute;
  bottom: 16px;
  right: 0;
  left: auto;
  width: 0;
  height: 3px;
  z-index: 2;
}

.footer-links a:after {
  background-color: #f25757;
  transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1);
}

.footer-links a:hover {
  color: #f3f3f3;
  text-decoration: none;
}

@media only screen and (min-width: 64em) {
  .footer-links a:hover:after,
  .footer-links a:hover:before {
    width: 100%;
    left: 0;
  }
}

.footer-copy {
  width: 100%;
  padding-top: 15px;
  text-align: center;
  font-size: 0.75em;
}

.footer-copy a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 31.875em) {
  .footer-links li {
    float: left;
    clear: none;
    width: 50%;
    margin-left: 0;
    margin-right: 0;
  }
}

.footer-logo-top-icon {
}

.slideshow-container {
  max-width: 10000px;
  position: relative;
  margin: 4px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 1px 12px;
  position: absolute;
  bottom: 1px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

body,
html {
  height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("photographer.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.main-circle {
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
}

.me-3 {
  margin-right: 1rem !important;
}

.align-middle {
  vertical-align: middle !important;
}

img {
  border-style: none;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.infobox biography vcard {
  margin: 0.5em 0 0.5em 1em;
}

.infobox {
  border: 3px solid aquamarine;
  border-radius: 2%;
  box-shadow: #1c1d25;
  border-spacing: 1px;
  background-color: #f8f9fa;
  color: black;
  margin: 0.5em 0 0.5em 1em;
  padding: 0.2em;
  float: right;
  clear: right;
  font-size: 88%;
  line-height: 1.5em;
  width: 22em;
  margin: 5px;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
  margin: 5px;
}

a {
  text-decoration: none;
  color: #0645ad;
  background: none;
}

.infobox .infobox-header, .infobox .infobox-subheader, .infobox .infobox-image, .infobox .infobox-full-data, .infobox .infobox-below {
  text-align: center;
  margin: 5px;
}

.image {
  border: 0;
  vertical-align: middle;
  margin: 5px;
}

.title__db {
  color: #1c1d25;
}

li {
  text-align: -webkit-match-parent;
  text-decoration: none;
  margin: 5px;
}
ul {
  list-style-type: disc;
  text-decoration: none;
  margin: 5px;
}

.Db__wrapper {
  width: 100%;
  margin: 1rem;
}

.subheading__db {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
}

.paraph__db {
  font-size: 1.2rem;
  margin: 1rem;
}

.wrap {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 150px;
  min-height: 30px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text
  letter-spacing: 1.3px;
  font-weight: 700;
  text-decoration-color: #0000
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(150px + 12px);
  min-height: calc(30px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
